:root {
    --primary-color: #ffafbc;
    --light-pink: rgb(254, 174, 212);
    --second-color: rgb(253, 169, 96);

}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    -webkit-tap-highlight-color: transparent;
}

body * {
    font-family: 'Roboto', sans-serif;
}