:root {
    --primary-color: #ffafbc;
    --light-pink: #fe95b4;
    --second-color: rgb(253, 169, 96);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    -webkit-tap-highlight-color: transparent;
}



body * {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f9f9f9;
}